.header{
	color: white;
	font-size: 30px;
}

.navbar{
	display:inline-block;
	width: 100%;
	text-align: center;
	height: 20%;
}

body{
	background-image: url("../Images/2.jpg");
}

#one,#two,#three,#four {
	
	margin:120px;
	margin-top: 10px;
	width:50%;
}

.card {
    min-height: 140px;
}

#head1{
	display: block;
	text-align: center;
	padding-bottom: 15px;
	font-size: 30px;
    width: 100%;
    color: #777777;
}

.card-title{
	text-align: center;
}

#footer{
	text-align: center;
    color:white;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 5%;
	display: block;
	background-color: #777777;
	position: fixed; 
    bottom: 0;
    

}
@media only screen and (max-width: 767px) {


#footer{
	text-align: center;
    color:white;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 5%;
	display: block;
	background-color: #777777;
	position: relative; 
    bottom: 0;
    

}
.header{
	font-size: 25px;
}

#head1{
	
	font-size: 20px;
    }



}
@media only screen and (max-width: 420px) {


#footer{
	text-align: center;
    color:white;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 5%;
	display: block;
	background-color: #777777;
	position: relative; 
    bottom: 0;
    

}
.header{
	font-size: 25px;
}

#head1{
	
	font-size: 20px;
    }

.col-md-6{
	margin-left: -50px;
}

}
